/* * {
    margin : 0;
    padding : 0;
    box-sizing : border-box;
} */
* {
    box-sizing : border-box;
}
body {
    height : 1000px;
}


.header {
    display: flex;
    justify-content: space-between;
    align-items : center;
    border : 1px solid black;
}

.logo-container {
    padding :  0 10px;
}
.logo {
    height : 100px;
}

ul {
    list-style-type : none;
    display: flex;
    align-items : center;
    gap : 40px;
}

ul li {
    padding : 0 10px;
    font-size: 20px;
}

.nav-items {
    padding : 0 20px;
}



.filter {
    margin : 10px;
    display: flex;
    justify-content: space-around;
    align-items : center;
}

.search {
    display: flex;
    gap : 4px;
}
.search > input {
    width : 330px;
    height : 40px;
    font-size : 20px;
}
.search > button {
    cursor : pointer;
    height : 40px;
}

.filterBtn,
.allRestBtn {
    cursor : pointer;
    margin-left : 8px;
    height : 40px;
}

.restaurant-card {
    width : 220px;
    padding : 6px;
}
.restaurant-card:hover {
    border : 1px solid black;
    cursor : pointer;
    padding : 3px;
}

.res-logo {
    height : 130px;
    width: 100%;
    object-fit: cover;
}

.restaurants-container {
    display: flex;
    flex-wrap : wrap;
    gap : 10px;
}

.shimmer-card {
    margin : 5px;
    height : 400px;
    width : 210px;
    background-color: #dad6d6;
}

.shimmer-container {
    margin-left: 4px;
    display: flex;
    flex-wrap : wrap;
    gap : 6px;
    margin-top : 40px;
}

.Btn,
.filterBtn,
.allRestBtn,
.search > button {
    background-color: green;
    color : white;
    padding : 10px 20px;
    cursor : pointer;
    border : none;
    border-radius : 10px;
    font-size: 20px;
}

