

.main-menu {
    display : flex;
    flex-direction : column;
    justify-content : center;
    align-items : center;
}

.resName {
    margin-bottom : 26px;
    margin-top : 10px;
}

.ratings {
    margin : 8px 0;
}

.menu-cuisines {
    cursor : pointer;
    color : red;
    text-decoration : underline;
}

.main ul {
    display : flex;
    flex-direction : column;
    gap : 5px;
}
.main ul li {
    list-style-type : disc;
}